# Build output
dist
.output
.wxt

# Dependencies
node_modules

# Logs
logs
*.log

# Cache
.cache
.temp

# Editor configuration
.vscode
!.vscode/extensions.json
.idea

# System files
.DS_Store
Thumbs.db

# Bundle files
*.zip
*.tar.gz

# Stats files
stats.html
stats-*.json

# Lockfiles
pnpm-lock.yaml